- upload ||= @upload
- prefix = upload.holder_column

- target_w = upload.crop_width
- target_h = upload.crop_height
- max_w = upload.precrop_width
- max_h = upload.precrop_height
- initial_w = upload.scale_width unless upload.scale_width == 0
- initial_h = upload.scale_height unless upload.scale_height == 0
- initial_l = upload.offset_left unless upload.offset_left == 0
- initial_t = upload.offset_top unless upload.offset_top == 0

- scale_w = initial_w || max_w * 3 / 4
- scale_h = initial_h || max_h * 3 / 4
- offset_l = initial_l || (target_w - scale_w)/2
- offset_t = initial_t || (target_h - scale_h)/2

.cropper
  .preview{:style => "width: #{scale_w}px; height: #{scale_h}px; top: #{offset_t}px; left: #{offset_l}px"}
    %img{:src => upload.file.url(:precrop)}
  %p.drag_instructions
    = t :drag_instructions
    
  = fields_for upload.holder do |hf|
    = hf.fields_for :"#{upload.holder_column}_upload", upload do |uf|
      %fieldset.crop
        = uf.hidden_field :id
        = uf.hidden_field :offset_left, :value => offset_l, :class => 'ol'
        = uf.hidden_field :offset_top, :value => offset_t, :class => 'ot'
        .scaler
          %p.range
            = uf.range_field :scale_width, :min => target_w, :max => max_w, :value => scale_w, :class => 'sw'
            = uf.hidden_field :scale_height, :value => scale_h, :class => 'sh'
